* {
  margin: 0;
  padding: 0;
}

html, body{
  background-color: #D3ECF0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4em;
}

h1 {
  margin: 10px 0px;
}

form input {
  font-size: 1.2em;
  margin: 5px;
  padding: 5px;
}

form input[type=text] {
  color: #666;
  width: 200;
}

form input[type=submit] {
  background-color: #FFB;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin: 25px 0px 5px 210px;
  padding: 5px;
  width: 200px;
}
form input[type=submit]:hover {
  background-color: #FF6;
}
form input[type=submit]:active {
  background-color: #EE6;
  margin: 26px -1px 4px 211px;
}

form label {
  display: inline-block;
  font-size: 1.2em;
  text-align: right;
  width: 200px;
}

#container {
  background-color: #F6CFD0;
  padding: 10px 0px 25px 250px;
}

#footer {
  color: #666;
  font-size: .8em;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#result h1 {
  margin: 15px 0px 0px 250px;
}

#result img {
  float: left;
  position: relative;
  top: -149px;
  left: 25px;
}

